body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}

header {
    padding: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: lightskyblue;
    font-size: 20px;
    display: flex;
}

footer {
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 5px;
    background-color: lightskyblue;
}

.container {
    display: flex;
}

main {
    flex: auto;
    padding: 20px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: lightskyblue;
}

aside {
    width: 100px;
    border-radius: 5px;
    background-color: lightskyblue;
    margin-right: 10px;
}

aside ul {
    padding: 10px;
    margin: 10px;
    list-style: none;
}

aside li {
    margin-bottom: 10px;
}

@media (max-width: 500px) {
    .container {
        flex-direction: column;
        width: 100%;
        margin: 5px;
    }
}

@media (max-width: 500px) {
    aside {
        margin-bottom: 15px;
    }
}

@media (max-width: 500px) {

    header,
    footer {
        margin-left: 10px;
    }
}

@media (max-width: 500px) {

    main {
        margin-right: 10px;
    }
}

aside {
    width: 100px;
    border-radius: 5px;
    background-color: lightskyblue;
    flex-grow: auto;
    width: auto;
    margin-left: 5px;
}

aside ul {
    padding: 10px;
    margin: 10px;
    list-style: none;
    padding-right: 40px;
}

aside li {
    margin-bottom: 10px;
}

aside a {
    text-decoration: none;
}